body {
    font-family: verdana, Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
    animation-duration: 2s;
    animation-name: slide;
}

h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;

}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    background-color: #0056b3;

}
#submissionData{
    /* animation-duration: 2s;
    animation-name: slide; */
}

#submissionData {
    margin-top: 20px;
   
}

@keyframes slide {
    from {
        margin-left: 100%;
        width: 100%;

    }

    to {
        margin-left: 0;
        width: 100%;
    }
}